<div class="container">
  <input type="text" class="form-control" [(ngModel)] = "currentItem">
  <br>
  <button [disabled]="currentItem.length < 4" class="btn btn-primary" (click)="addItem()">Add item</button>
  <hr>
  <p *ngIf="!items.length; else list">Empty list</p>
  <ng-template #list>
  <ul class="list-group">
    <li class="list-group-item"
        *ngFor="let item of items; let i = index"
    [ngClass]="{removed:i===removedIndex}">
      {{item}}
      <button class="btn float-right btn-danger" (click)="removeItem(i)">Remove</button>
    </li>
  </ul>
  </ng-template>
</div>
